<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>Give me some Text!</h1>
    </header>
    <form class="" action="index.html" method="post">
      <input type="text" name="title" value="" placeholder="Title">
      <textarea name="name" rows="8" cols="80"></textarea>
      <button type="submit" name="button">Save Text</button>
    </form>
    <div class="textblock">

    </div>

  </body>
</html>
